body {
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/806984438e2b56dabf1cd41e/documents-with-charts-touchpad-desk.jpg);
    font-family: 'Montserrat', sans-serif;
}
.content {
    border: 20px solid rgb(30,143,249);
    background-color: white;
    width: 70vh;
    height: 80vh;
    float: right;
    color: rgb(30,143,249);
    font-weight: bold;
    font-size: 20px;
    margin-right: 150px;;
    margin-top: 70px;
    
    
}

.content h2, p {
    padding-left: 30px;
    padding-top: 40px;

}
.content h2 {
    font-weight: bold;
    font-size: 80px;
    /* background-color: red; */
    width: 160px ;
}
   
.content p {
    color: gray;
}
